<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Administrador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.email %></td>
        <% if usuario.adm == true %>
          <td> Sim </td>
        <% else %>
          <td> Não </td>
        <% end %>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to "Edit-#{usuario.email}", edit_usuario_path(usuario) %></td>
        <td><%= link_to "Destroy-#{usuario.email}", usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
